@page "/rooms"


@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal


<h3>Habitacion</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/rooms/create">Nueva Habitacion</a>
</div>

<GenericList Mylist="Rooms">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Habitacion</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var room in Rooms!)
                {
                    <tr>
                        <td>
                            @room.Name
                        </td>
                        <td>
                            <a href="/rooms/edit/@room.Id" class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger" @onclick=@(() => Delete(room))>Borrar</button>

                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {
    public List<Room>? Rooms { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        var responseHppt = await repository.Get<List<Room>>("api/rooms");
        Rooms = responseHppt.Response!;
    }

    private async Task Delete(Room room)
    {
        var result = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Esta seguro que quieres borrar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var responseHTTP = await repository.Delete($"api/countries/{room.Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Load();
        }
    }

}