@page "/companies/details/{Id:int}"



@using System.Net;
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

@if (company is null)
{
    <div class="spinner" />
}
else
{
    <h3>@company.Name</h3>
    <div class="mb-2">
        <a class="btn btn-primary" href="/rooms/create/@company.Id">Nuevo Hotel</a>
        <a class="btn btn-success" href="/companies">Regresar</a>
    </div>

    <GenericList Mylist="rooms">
        <Body>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Hotel</th>
                        <th>Habitacion</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var room in rooms!)
                    {
                        <tr>
                            <td>
                                @room.Name
                            </td>
                            <td>
                                @room.Name
                            </td>
                            <td>
                                <a class="btn btn-info" href="/states/details/@room.Id">Detalles</a>
                                <a class="btn btn-warning" href="/states/edit/@room.Id">Editar</a>
                                <button class="btn btn-danger" @onclick=@(() => DeleteAsync(room.Id))>Borrar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </Body>
    </GenericList>
}
@code {
    private Company? company;
    private List<Room>? rooms;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        var responseHttp = await repository.Get<Company>($"/api/companies/{Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/companies");
                return;
            }

            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        company = responseHttp.Response;
        rooms = company!.Rooms!.ToList();
    }

    private async Task DeleteAsync(int id)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Realmente deseas eliminar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Si"
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.Delete($"/api/rooms/{id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode != HttpStatusCode.NotFound)
            {
                var message = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
                return;
            }
        }

        await LoadAsync();
    }
}